#state{
    /* transition-timing-function: ease-in-out; */

    text-align: center;
    font-size:x-large;
    background-color: #e3e3e3;
    position: static;

}
.title{
    text-align: center;

}




#button{
    text-align:center;
 
}

#usa{
    text-align: center;


}
body{
    background-color: #e3e3e3;
}





